{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">

            <div class="portlet box light-grey">

                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-reorder"></i>User</div>
                </div>

                <div class="portlet-body form">
                    {#{{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': '', 'novalidate': 'novalidate'} }) }}#}
                    <div class="form-body left">

                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            Please check below.
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Successfully insert.
                        </div>

                        <div class="form-actions fluid">

                            <div class="portlet-body">
                                <div class="col-md-11" style="margin-left: 40px;">

                                    {#<table id="table_project_cost">#}
                                        {#<thead>#}
                                        {#<tr>#}
                                            {#<th>Name</th>#}
                                            {#<th>Email</th>#}
                                            {#<th>Role</th>#}
                                            {#<th></th>#}
                                        {#</tr>#}
                                        {#</thead>#}
                                        {#<tbody>#}
                                        {#<tr>#}
                                            {#<td>#}

                                            {#</td>#}
                                            {#<td>#}

                                            {#</td>#}
                                            {#<td>#}

                                            {#</td>#}
                                            {#<td>#}

                                            {#</td>#}
                                        {#</tr>#}
                                        {#</tbody>#}
                                    {#</table>#}

                                </div>
                            </div>
                        </div>

                        <div class="form-actions fluid">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-9" style="margin-left: 12%;">

                                        {#<table class="table table-striped bold" style="border: 1px solid ghostwhite;">#}
                                            {#<tbody>#}
                                            {#{% set i = 0 %}#}
                                            {#{% for user in users %}#}

                                            {#{% endfor %}#}
                                            {#</tbody>#}
                                        {#</table>#}

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    {#{{ form_end(form) }}#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}