{% extends 'base.html.twig' %}

{% block body %}

    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption"><i class="fa fa-reorder"></i>Graph11</div>
        </div>
        <div class="portlet-body">
            <div id="interactive" class="chart"></div>
        </div>
    </div>

    <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
        <thead>
        <tr>
            <th>Project</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>

        {% for projectcost in projectcosts %}

            <tr>
                <td style="width: 150px;">{{ projectcost.projectName }}</td>
                <td style="width: 90px;">{{ projectcost.percentage }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

    <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
        <thead>
        <tr>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>

        {% for costs in cost %}

            <tr>
                <td style="width: 90px;">{{ costs.total }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}