/* here you can put your own css to customize and override the theme */

.left_top {
    margin-left: 14px !important;
    margin-top: 12px !important;
}

textarea {
    height: 100px;
}

.border_cat {
    border: 1px solid lightgray;
}

.margin_cat_top {
    margin: 10px;
}

.control-label {
    text-align: left !important;
    margin-left: 60px;
}

.height-div {
    height: 50px;
}

.form-actions {
    margin-top: 10px !important;
}