{% extends 'base.html.twig' %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button>
            <strong></strong> {{ flashMessage }}.
        </div>
    {% endfor %}

    <span class="projectMessege"></span>

    <div class="row">
        <div class="col-md-12">

            <div class="portlet box light-grey">

                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-reorder"></i> Purchase Requisition</div>
                </div>

                <div class="portlet-body form">

                    <div class="form-body left">

                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            Please check below.
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Successfully insert.
                        </div>

                        <div class="form-actions fluid">
                            <div class="table-toolbar" style="float: right;margin-right: 20px;">
                                <div class="btn-group">
                                    <a href="/purchase/requisition/new" class="btn green"><!-- data-target="#ajax" data-toggle="modal">-->
                                        New purchase
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions fluid" id="project-list-div">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-11" style="margin-left: 4%; margin-top: 30px;">

                                        <table class="table table-striped bold" style="border: 1px solid ghostwhite;">

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            {% block documentready %}
            {{ parent() }}

            $("#ajaxSavePr").click(function () {
                var project = $("#purchaserequisition_project").val();
                var requisitionNo = $("#purchaserequisition_requisitionNo").val();
                var dateOfRequisition = $("#purchaserequisition_dateOfRequisition").val();
                var item = $("#purchaserequisition_purchaseRequisitionItem_item").val();
                var quantity = $("#purchaserequisition_purchaseRequisitionItem_quantity").val();
                var dateOfRequired = $("#purchaserequisition_purchaseRequisitionItem_dateOfRequired").val();
                var comment = $("#purchaserequisition_purchaseRequisitionItem_comment").val();

                var prArray = new Array(project, requisitionNo, dateOfRequisition, item, quantity, dateOfRequired, comment);

                $.ajax({
                    type: "post",
                    url: Routing.generate('pr_ajax_add'),
                    data: "prArray=" + prArray,
                    dataType: 'json',
                    success: function (msg) {
                        if(msg.responseCode == 204) {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Please Fill The Blank Field</span></div>');
                            $('.projectCostItemMessege').css('color', 'red').html(msg.project_ajax_add).fadeIn(1000).append($addLink);
                            $(':input','#cost-form')
                                    .not(':button, :submit, :reset, :hidden')
                                    .val('')
                                    .removeAttr('checked')
                                    .removeAttr('selected');
                        } else {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Project Cost Add Successfully</span></div>');
                            $('.projectCostItemMessege').css('color', 'green').html(msg.project_ajax_add).fadeIn(1000).append($addLink);
                            $(':input','#cost-form')
                                    .not(':button, :submit, :reset, :hidden')
                                    .val('')
                                    .removeAttr('checked')
                                    .removeAttr('selected');
                        }
                    }
                });

            });

            {% endblock %}
        });
    </script>

{% endblock %}