{% block body %}

    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" style="text-align: center;"> Details</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div>

                        <div style="width: 100%;background: red;font-size: 14px;">
                            <div style="width: 45%;float:left;margin-left: 5%;">
                                <div style="font-weight: bold;">
                                    Purchase Requisition No. : {{ pr[0]['requisitionNo'] }}
                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>

                            </div>
                            <div style="width: 45%;float:right;">
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

{% endblock %}