{% extends 'base.html.twig' %}

{% block body %}

    {{ include('::flash-message.html.twig') }}

    <span class="buyerMessege"></span>

    <div class="row">
        <div class="col-md-12">

            <div class="portlet box light-grey">

                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-reorder"></i> Upload</div>
                </div>

                <div class="portlet-body form">

                    <div class="form-body left">

                        <div class="form-actions fluid">
                            {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'upload-form', 'novalidate': 'novalidate'} }) }}

                            {{ form_end(form) }}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}