<td>
    {{ form_widget(form.item, { 'attr': {'class': 'form-control', 'style': 'margin-left: 20px;width: 180px;padding-left: 10px! important;'} }) }}
</td>
<td>
    {{ form_widget(form.quantity, { 'attr': {'class': 'form-control', 'style': 'width: 120px;padding-left: 10px! important;'} }) }}
</td>
<td>

</td>
<td>
    {{ form_widget(form.comment, { 'attr': {'class': 'form-control', 'style': 'width: 188px;padding-left: 10px! important;'} }) }}
</td>
<td>
    {{ form_widget(form.delete, { 'attr': {'class': 'btn', 'style': 'width: 70px;' } }) }}
</td>
